:root {
  --card-img-size: 360px;
}

.services{
  height: auto;
  width: 100vw;
}

.services__background{
  height: 80vh;
  background-color: aqua;
}

.services__background__filter{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__container{
  width: 85rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
}

.services__h2{
  width: 100%;
  display: inline;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: .5rem;
}

.services__container2{
  display: flex;
  width: 100%;
  height: 100%;
}

.services__text__box{
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 60%;
  height: 100%;
}

.services__p{
  color: white;
  font-size: 1.1rem;
  width: 100%;
}

.services__btn{
  font-size: 1.1rem;
  color: var(--secondary-color);
}

.services__btn:hover{
  color: var(--secondary-color);
}

.services__img{
  height: 28rem;
  border-radius: 1rem;
  margin: auto;
}
