.termitesInfo{
    height: 100dvh;
    width: 100vw;
    margin-top: - var(--margin-top-size);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.termitesInfo__h2{
    color: var(--secondary-color);
    font-size: 5rem;
    margin-top: 5rem;
    line-height: 5rem;
    font-weight: 800;
}

.termitesInfo__p{
    font-size: 1.5rem;
    color: black;
    width: 80rem;
    margin-top: 5rem;
}

.termitesInfo__btn{
    color: var(--secondary-color);
    font-weight: 700;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.termitesInfo__btn:hover{
    color: #9F4FFF;
}