.about {
  height: auto;
  width: 100vw;
  margin-top: var(--margin-top-size);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__section1 {
  height: 75dvh;
  width: 90vw;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.about__img1__container{
  position: absolute;
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10rem;
  border: 4px solid blue;
}

.about__img1{
  margin-left: -11.5rem;
}

.about__h2{
  position: absolute;
  font-size: 5rem;
  margin-left: 5rem;
  margin-bottom: 32rem;
  color: var(--secondary-color);
  font-weight: 800;
}

.about__p__background{
  width: 100vw;
  height: auto;
}

.about__p__container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.about__p{
  margin: 1rem 1rem;
  color: white;
  font-size: 1.3rem;
  width: 80rem;
}

@media screen and (max-width: 1114px) {

  .about {
    margin: 0;
  }

  .about__section1 {
    height: 35rem;
    width: 100vw;
  }

  .about__h2{
    font-size: 4rem;
    margin-left: 8rem;
    margin-bottom: 24rem;
  }

  .about__img1__container{
    width: 30rem;
    height: 30rem;
    margin-right: 3rem;
  }
  
  .about__img1{
    height: 35rem;
    margin-left: -11.5rem;
  }

  .about__p{
    width: 80vw;
    font-size: 1rem;
  }

}
