.home {
  height: auto;
  width: 100vw;

}

.home__section1 {
  position: relative;
  height: 80dvh;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__section1{
  display: flex;
  height: 95dvh;
  align-items: center;
  justify-content: space-evenly; 
}

.home__services__text__box{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: start;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  width: 42rem;
  height: auto;
}

.home__frontpage{
  position: absolute;
  z-index: 10;
  margin-top: 5rem;
  height: 30rem;
  width: 45rem;
}

.section1__icon{
  font-size: 2rem;
  margin-right: .5rem;
}

.home__h1 {
  display: none;
}

.home__h2{
  font-weight: 800;
  font-size: 3.5rem;
  color: white;
  margin-bottom: 1rem;
}

.home__b{
  font-weight: 700;
  color: white;
}

.home__h3{
  font-weight: 700;
  font-size: 2.2rem;
  color: white;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: .5rem;
  background-color: black;
  border: .2rem solid #273E8E;
}

.home__p{
  font-size: 1.4rem;
  color: white;
  margin-bottom: 1rem;
}

.section1__btn{
  color:  white;
  font-size: 1.3rem;
  padding: .5rem;
  border-radius: .5rem;
  background-color: #273E8E;
  margin-bottom: 1rem;
}

.home__section1__logo{
  height: 25rem;
  position: absolute;
  top: 7rem;
  right: 5rem;
}

.home__section2{
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

.home__section2__box{
  width: 100rem;
  height: auto;
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home__section2__item,
.home__section2__item--blue,
.home__section2__item--second,
.home__section2__item--fiveth,
.home__section2__item--sixth{
  height: 30rem;
  min-width: 32rem;
  border-radius: 3rem;
  display: flex;
  margin: .5rem;
  flex-direction: column;
  align-items: center;
  background-color: #E9E9E9;
}

.home__section2__item--blue{
  background-color: #0030CF;
}

.home__section2__item--fiveth{
  background-color: #242424;
}

.home__section2__item--sixth{
  background-color: var(--secondary-color);
}

.home__icon__container,
.home__icon__container--blue,
.home__icon__container--second,
.home__icon__container--fiveth,
.home__icon__container--sixth{
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 2rem;
  background-color: var(--secondary-color);
}

.home__icon__container--blue{
  background-color: black;
}

.home__icon__container--fiveth{
  background-color: #0030CF;
}

.home__icon__container--sixth{
  background-color: black;
}

.home__icon,
.home__icon--blue,
.home__icon--second,
.home__icon--fiveth,
.home__icon--sixth{
  font-size: 2.5rem;
}

.home__section2__text,
.home__section2__text--blue,
.home__section2__text--second,
.home__section2__text--fiveth,
.home__section2__text--sixth{
  height: auto;
  text-align: center;
  width: 25rem;
  margin-top: 1.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__section2__text--blue{
  color: white;

}

.home__section2__text--fiveth{
  color: white;
}

.home__section2__text--sixth{
  color: white;
}

.home__section2__h3,
.home__section2__h3--blue,
.home__section2__h3--fiveth,
.home__section2__h3--sixth{
  font-size: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.home__section2__p,
.home__section2__p--blue{
  font-size: 1rem;
  width: 23rem;
}

.section3__btn--blue{
  font-size: 1.2rem;
  padding: .5rem;
  background-color: black;
  color: white;
  border-radius: .7rem;
}

.section3__btn--gray{
  font-size: 1.2rem;
  padding: .5rem;
  background-color: var(--secondary-color);
  color: white;
  border-radius: .7rem;
}

.home__section3{
  display: flex;
  height: auto;
  justify-content: center;
}

.home__section3__box{
  width: 40rem;
  height: 50rem;
  margin: 5rem 2rem;
  border-radius: 1rem;
  padding: 2rem;
  color: var(--primary-color);
}

.home__section3__box:nth-child(2){
  background-color: var(--secondary-color);
}

.home__section3__h3{
  font-size: 3.5rem;
  margin-top: 3rem;
}

.home__section3__p{
  font-size: 1.5rem;
  margin: 2rem 0;
}

.home__section3__btn{
  padding: .7rem;
  margin-top: 5rem;
  font-size: 1.2rem;
  border-radius: .5rem;
  background-color: blue;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  color: white;  
}

.home__section3__btn:hover{
  color: white;
  border: 3px solid blue;
}

.home__section4{
  height: auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.home__section4__box{
  height: 25rem;
  width: 25rem;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 6px 6px 20px #B6B6B6;
}

.home__section4__box--second{
  color: #9b9b9b;
  height: 25rem;
  width: 25rem;
  margin: 5rem 0;
  display: flex;
  border-radius: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: #374AD6;
  box-shadow: 6px 6px 20px #B6B6B6;
}

.home__section4__img{
  border-radius: .5rem;
  padding: .5rem;
  color: #0030CF;
  background-color: #E1E1E1;
  margin-top: 1rem;
}

.home__section4__h3--second{
  color: white;
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.home__section4__span{
  color: black;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.home__section4__span--second{
  color: white;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.home__section4__p{
  color: #9b9b9b;
  font-size: 1.1rem;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.home__section4__icon{
  color: #0030CF;
  margin-right: .5rem;
}

.home__section4__icon--second{
  color:  green;
  margin-right: .5rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 1600px) {
  .home__container {
    width: 70vw;
  }

  .home__h1 {
    font-size: 39px;
  }

  .home__p {
    font-size: 19px;
  }

  .home__logo {
    height: 450px;
    width: 400px;
  }
}

@media screen and (max-width: 1120px) {
  .home__h1 {
    font-size: 37px;
  }

  .home__p {
    font-size: 17px;
  }

  .home__logo {
    height: 400px;
    width: 350px;
  }
}

@media screen and (max-width: 840px) {
  .home__container {
    width: 95vw;
  }

  .home__h1 {
    font-size: 35px;
  }

  .home__p {
    font-size: 15px;
  }

  .home__logo {
    height: 380px;
    width: 330px;
  }
}

@media screen and (max-width: 685px) {
  .home {
    margin-top: 0;
    height: calc(100dvh - 90px);
  }

  .home__container {
    margin-top: 50px;
    flex-direction: column;
    height: 100%;
  }

  .home__textBox {
    width: 50%;
    margin-top: -20px;
  }

  .home__h1 {
    font-size: 30px;
  }

  .home__p {
    font-size: 15px;
  }

  .home__logo {
    height: 260px;
    width: 260px;
  }
}

@media screen and (max-width: 460px) {
  .home__container {
    justify-content: center;
  }

  .home__textBox {
    width: 80%;
    margin: 0;
  }

  .home__logo {
    margin-top: 30px;
    height: 280px;
    width: 280px;
  }
}

@media screen and (max-width: 380px) {
  .home__logo {
    height: 230px;
    width: 230px;
  }
}

@media screen and (max-width: 330px) {
  .home {
    height: calc(100dvh - 70px);
  }
}
