.contact {
  height: calc( 100dvh - var(--margin-top-size)) ;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form{
  height: 40rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
}

.contact__h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}

.form__input{
  width: 30rem;
  height: 4rem;
  border: none;
  font-size: 1rem;
  background: unset;
  border-bottom: .1rem solid gray;
}

.form__input:focus{
  outline: none;
  border-bottom: .1rem solid #07C704;;
}

.form__input--message{
  padding-top: 1rem;
  width: 30rem;
  height: 10rem;
  border: none;
  resize: none;
  font-size: 1rem;
  background: unset;
  border-bottom: .1rem solid gray;
}

.form__input--message:focus{
  outline: none;
  border-bottom: .1rem solid #07C704;;
}

.form__submit{
  font-size: 1.4rem;
  margin-top: 1rem;
  background-color: unset;
  border: .2rem solid #07C704;
  padding: .5rem;
  border-radius: .5rem;
  transition-timing-function: ease-out;
  transition-duration: .2s;
}

.form__submit:hover{
  background-color: #07C704;
}

.contact__info{
  margin-top: 1.5rem;
  height: 8rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact__span{
  font-size: 1.4rem;
}

.contact__icon__box{
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
}

.icon__item{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: .2rem solid #07C704;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-timing-function: ease-in;
  transition-duration: .3s;
}

.icon__item:hover{
  background-color: #07C704;
}

.contact__icon{
  font-size: 2.1rem;
}
