.contact {
  height: calc( 100dvh - var(--margin-top-size) - var(--footer-height) ) ;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form{
  height: 45rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(162,48,255);
  background: linear-gradient(132deg, rgba(162,48,255,1) 0%, rgba(128,16,198,1) 26%, rgba(58,0,92,1) 100%);
}

.contact__h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  color: var(--primary-color);
}

.form__input{
  width: 30rem;
  height: 4rem;
  border: none;
  font-size: 1rem;
  background: unset;
  color: var(--primary-color);
  border-bottom: .1rem solid var(--gray-form-color);
}

.form__input::placeholder{
  color: var(--gray-form-color);
}

.form__input:focus{
  outline: none;
  border-bottom: .1rem solid var(--blue-form-color);
}

.form__input--message{
  padding-top: 1rem;
  width: 30rem;
  height: 10rem;
  border: none;
  resize: none;
  font-size: 1rem;
  background: unset;
  border-bottom: .1rem solid var(--gray-form-color);
}
.form__input--message::placeholder{
  color: var(--gray-form-color);
}

.form__input--message:focus{
  outline: none;
  border-bottom: .1rem solid var(--blue-form-color);
}

.form__submit{
  font-size: 1.4rem;
  margin-top: 1rem;
  border: none;
  padding: .5rem;
  border-radius: .3rem;
  transition-timing-function: ease-out;
  transition-duration: .2s;
  background-color: var(--blue-form-color);
}

.form__submit:hover{
  color: var(--blue-form-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.contact__info{
  margin-top: 1.5rem;
  height: 8rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact__span{
  font-size: 1.4rem;
  color: var(--primary-color);
}

.contact__icon__box{
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
}

.icon__item{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: .2rem solid var(--blue-form-color);
  display: flex;
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
  transition-timing-function: ease-in;
  transition-duration: .3s;
}

.icon__item:hover{
  background-color: var(--blue-form-color);
  color: var(--primary-color);
}

.contact__icon{
  font-size: 2.1rem;
}

.error {
  height: auto;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 640px) {

  .form{
    height: 36rem;
    width: 100vw;
    margin: 0 0.5rem;
  }

  .contact__h2 {
    font-size: 2rem;
  }

  .form__input{
    width: 95%;
    font-size: 0.8rem;
  }

  .form__input--message{
    width: 95%;
    font-size: 0.8rem;
    }

    .form__submit{
      font-size: 1rem;
    }
    
    .contact__info{
      width: 95vw;
    }

    .contact__span{
      font-size: 1rem;
    }

    .contact__icon__box{
      width: 13rem;
    }

    .icon__item{
      width: 3rem;
      height: 3rem;
    }

    .contact__icon{
      font-size: 1.5rem;
    }

}