.nav {
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--margin-top-size);
  background-color: white;
  display: flex;
  justify-content: flex-start;
}

.menu__btn {
  display: none;
}

.logo{
  height: var(--margin-top-size); 
}

.nav__ul {
  display: flex;
  width: 19rem;
  height: 100%;
  list-style: none;
  position: absolute;
  right: 3rem;
}

.nav__ul__mobile{
  display: none;
  position: absolute;
}

.nav__li {
  width: auto;
  height: auto;
  margin-right: 1.5rem;
}

.nav__link {
  height: 100%;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: var(--thrid-color);
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.nav__link:hover {
  color: var(--secondary-color);
}

.nav__span {
  font-size: 1.1rem;
  color: var(--third-color);
}

@media screen and (max-width: 1114px) {

  .nav {
    display: flex;
    justify-content: center;
  }

  .logo{
    margin: 0;
  }

  .menu__btn {
    display: flex;
    width: 2rem;
    height: 2rem;
    position: fixed;
    left: 0.2rem;
    top: 0.2rem;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    padding: 0;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: var(--secondary-color); 
  }

  .nav__ul{
    display: none;
  }

  .nav__ul__mobile{
    display: flex;
    height: 100dvh;
    width: 100dvw;
    left: -100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  .nav__li {
    width: auto;
    height: auto;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .nav__span{
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 888px) {
  .menu__btn {
    width: 1.5rem;
    height: 1.5rem;
    left: 0.2rem;
    top: 0.3rem;
  }
}