.termitesInfo{
    height: calc(100dvh - var(--margin-top-size) - var(--footer-height)); 
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.termitesInfo__h2{
    color: var(--secondary-color);
    font-size: 5rem;
    margin-top: 5rem;
    line-height: 5rem;
    font-weight: 700;
}

.termitesInfo__p{
    font-size: 1.5rem;
    color: var(--black-color);
    width: 80rem;
    margin-top: 5rem;
}

.termitesInfo__btn{
    color: var(--secondary-color);
    font-weight: 700;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.termitesInfo__btn:hover{
    color: #9F4FFF;
}

@media screen and (max-width: 1300px) {

    .termitesInfo{
        height: 100dvh; 
    }

    .termitesInfo__p{
      width: 95vw;
      height: auto;
    }

}

@media screen and (max-width: 900px) {

    .termitesInfo__h2{
        width: 95vw;
        font-size: 4.5rem;
        margin-top: 3.5rem;
    }

    .termitesInfo__p{
        margin-top: 3.5rem;
    }

}

@media screen and (max-width: 810px) {

    .termitesInfo{
        height: auto; 
    }

    .termitesInfo__h2{
        font-size: 4rem;
        margin-top: 3rem;
    }

    .termitesInfo__p{
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 500px) {

    .termitesInfo__h2{
        margin-top: 2rem;
        font-size: 3rem;
        line-height: 3rem;
        width: 90vw;
    }

    .termitesInfo__p{
        margin-top: 1.5rem;
        font-size: 1.1rem;
        text-align: justify;
        width: 90vw;
    }

}

@media screen and (max-width: 400px) {

    .termitesInfo__h2{
        font-size: 2.5rem;
    }

    .termitesInfo__p{
        font-size: 1rem;
    }

}