.footer {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.footer[data-ison='true'] {
  justify-content: center;
}

.footer__rectangle {
  position: fixed;
  scale: 1.4;
  z-index: 90;
}

.icon__container {
  z-index: 100;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px;
}

.icon__navlink {
  display: flex;
  align-items: center;
}

.icon {
  color: var(--thrid-color);
  transition-duration: 0.3s;
}

.icon:hover {
  color: var(--secondary-color);
}

.icon__separator {
  height: auto;
}

@media screen and (max-width: 685px) {
  :root {
    --footer-height: 40px;
    --footer-icons-grow: 35px;
    --icon-container-width: 320px;
  }

  .footer__rectangle {
    scale: 0.9;
  }

  .icon__container {
    align-items: center;
  }

  .icon {
    height: 100%;
  }
}

@media screen and (max-width: 460px) {
  :root {
    --footer-icons-size: 25px;
    --footer-icons-grow: 30px;
    --icon-container-width: 250px;
  }

  .footer__rectangle {
    scale: 0.7;
  }
}

@media screen and (max-width: 380px) {
  :root {
    --footer-icons-grow: 20px;
    --icon-container-width: 220px;
  }

  .footer__rectangle {
    scale: 0.6;
  }
}

@media screen and (max-width: 330px) {
  :root {
    --footer-height: 30px;
    --footer-icons-grow: 15px;
    --footer-icons-grow: 25px;
  }

  .icon__container {
    align-items: center;
    width: 200px;
  }

  .icon {
    font-size: 20px;
    height: 100%;
  }
}
