.footer {
  height: var(--footer-height);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__span{
  font-size: 1.1rem;
  color: var(--black-color);
}

@media screen and (max-width: 600px) {
  .footer__span{
    font-size: 0.8rem;
  }
}