.whytoptier{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whytoptier__h2{
    color: var(--secondary-color);
    font-size: 3.5rem;
    margin-top: 3rem;
    line-height: 5rem;
    font-weight: 800;
}

.whytoptier__p{
    font-size: 1.4rem;
    color: black;
    width: 80rem;
    height: auto;
    margin-top: 3rem;
    text-align: justify;
}

.whytoptier__btn{
    color: var(--secondary-color);
    font-weight: 700;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.whytoptier__btn:hover{
    color: #9F4FFF;
}

@media screen and (max-width: 1336px) {

    .whytoptier__h2{
        font-size: 2.5rem;
        width: 95vw;
        text-align: center;
    }
    
    .whytoptier__p{
        font-size: 1rem;
        width: 95vw;
    }

}

@media screen and (max-width: 450px) {

    .whytoptier__h2{
        font-size: 2rem;
    }
    
    .whytoptier__p{
        font-size: 0.9rem;
    }

}